# Copyright 2020 Wayback Archiver. All rights reserved.
# Use of this source code is governed by the GNU GPL v3
# license that can be found in the LICENSE file.
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.swp
*.dylib
/run

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/coverage.*

# Dependency directories (remove the comment below to include it)
# vendor/

/bina.json
/build/binary
/build/package
/.flatpak-builder

# Ignore Tor embedded process data directory
**/tor-data*
**/data-dir*
wayback.db
