# Copyright 2023 Wayback Archiver. All rights reserved.
# Use of this source code is governed by the GNU GPL v3
# license that can be found in the LICENSE file.

version: "3"

services:
  browser:
    image: chromedp/headless-shell
    ports:
      - 9222:9222
    networks:
      - back-tier
    volumes:
      - /dev/shm:/dev/shm
    restart: unless-stopped
    hostname: browser

  meilisearch:
    image: getmeili/meilisearch:v1.1.0
    ports:
      - 7700:7700
    networks:
      - back-tier
    volumes:
      - storage:/meili_data
    restart: unless-stopped
    hostname: meilisearch
    environment:
      - MEILI_NO_ANALYTICS=true
      - MEILI_HTTP_ADDR=0.0.0.0:7700
      - MEILI_ENV=production

  wayback:
    image: wabarc/wayback
    ports:
      - 8964:8964
      - 80:80
    networks:
      - back-tier
    volumes:
      - storage:/data
    depends_on:
      - browser
      - meilisearch
    environment:
      - WAYBACK_STORAGE_DIR=/data
      - CHROME_REMOTE_ADDR=browser:9222
      - WAYBACK_MEILI_ENDPOINT=http://meilisearch:7700
      - PLAYBACK_MEILI_ENDPOINT=http://meilisearch:7700
    command: wayback -d web
    restart: unless-stopped
    build: ./

networks:
  back-tier:

volumes:
  storage:
    driver: local
