mkdocs-material==9.1.0
mkdocs==1.4.2

# Python Markdown Extensions
pygments==2.14
pymdown-extensions==10.0

# MkDocs Plugins
mkdocs-exclude-search==0.6.5
mkdocs-git-revision-date-localized-plugin==1.2.0
mkdocs-static-i18n==0.56
