name: Docker

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    tags:
      - 'v*'
    branches:
      - 'main'
    paths-ignore:
      - '**.md'
      - 'snapcraft.yaml'
  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - '**.md'
      - 'snapcraft.yaml'
  workflow_dispatch:

jobs:
  publish:
    if: github.repository == 'wabarc/wayback'
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout default branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Prepare
        id: prep
        run: |
          GHCR_HOST=ghcr.io
          DOCKER_HOST=docker.io
          DOCKER_IMAGE_SCOPE=${{ github.repository }} # foo/bar
          if [ "${{ github.event_name }}" = "schedule" ]; then
            DOCKER_IMAGE_VERSION=nightly
          elif [[ $GITHUB_REF == refs/tags/* ]]; then
            DOCKER_IMAGE_VERSION=${GITHUB_REF#refs/*/v}
            TAGS="${DOCKER_HOST}/${DOCKER_IMAGE_SCOPE}:latest,${GHCR_HOST}/${DOCKER_IMAGE_SCOPE}:latest"
          else
            DOCKER_IMAGE_VERSION=edge
          fi
          TAGS="${TAGS},${DOCKER_HOST}/${DOCKER_IMAGE_SCOPE}:${DOCKER_IMAGE_VERSION},${GHCR_HOST}/${DOCKER_IMAGE_SCOPE}:${DOCKER_IMAGE_VERSION}"
          echo ::set-output name=tags::${TAGS}
          echo ::set-output name=version::${DOCKER_IMAGE_VERSION}
          echo ::set-output name=docker::${DOCKER_HOST}/${DOCKER_IMAGE_SCOPE}
          echo ::set-output name=ghcr::${GHCR_HOST}/${DOCKER_IMAGE_SCOPE}
          echo ::set-output name=images::${DOCKER_HOST}/${DOCKER_IMAGE_SCOPE},${GHCR_HOST}/${DOCKER_IMAGE_SCOPE}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ steps.prep.outputs.images }}
          tags: |
            type=semver,pattern=${{ steps.prep.outputs.version }}
            type=raw,${{ steps.prep.outputs.version }}

      - name: Build artifacts
        uses: docker/bake-action@v1
        with:
          files: ./docker-bake.hcl
          targets: artifact-all
          set: |
            *.cache-from=type=local,src=/tmp/.image-cache/artifacts
            *.cache-to=type=local,dest=/tmp/.image-cache-new/artifacts

      - name: Build and push Docker image
        uses: docker/bake-action@v1
        with:
          files: |
            ./docker-bake.hcl
            ${{ steps.meta.outputs.bake-file }}
          targets: release
          push: ${{ github.event_name != 'pull_request' }}
          set: |
            *.cache-from=type=local,src=/tmp/.image-cache/image
            *.cache-to=type=local,dest=/tmp/.image-cache-new/image

      - name: Check manifest
        if: github.event_name != 'pull_request'
        run: |
          docker buildx imagetools inspect ${{ steps.prep.outputs.docker }}:${{ steps.meta.outputs.version }}
          docker buildx imagetools inspect ${{ steps.prep.outputs.ghcr }}:${{ steps.meta.outputs.version }}

      - name: Inspect image
        if: github.event_name != 'pull_request'
        run: |
          docker pull ${{ steps.prep.outputs.docker }}:${{ steps.meta.outputs.version }}
          docker image inspect ${{ steps.prep.outputs.docker }}:${{ steps.meta.outputs.version }}
          docker pull ${{ steps.prep.outputs.ghcr }}:${{ steps.meta.outputs.version }}
          docker image inspect ${{ steps.prep.outputs.ghcr }}:${{ steps.meta.outputs.version }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: wayback
          path: ./dist/*
          if-no-files-found: error

  allinone:
    if: github.repository == 'wabarc/wayback'
    name: AllInOne Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout default branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Prepare
        id: prep
        run: |
          GHCR_HOST=ghcr.io
          DOCKER_IMAGE_SCOPE=${{ github.repository }} # foo/bar
          if [ "${{ github.event_name }}" = "schedule" ]; then
            DOCKER_IMAGE_VERSION=nightly
          elif [[ $GITHUB_REF == refs/tags/* ]]; then
            DOCKER_IMAGE_VERSION=${GITHUB_REF#refs/*/v}
            TAGS="${GHCR_HOST}/${DOCKER_IMAGE_SCOPE}"
          else
            DOCKER_IMAGE_VERSION=edge
          fi
          TAGS="${TAGS},${GHCR_HOST}/${DOCKER_IMAGE_SCOPE}:${DOCKER_IMAGE_VERSION}"
          echo ::set-output name=tags::${TAGS}
          echo ::set-output name=version::${DOCKER_IMAGE_VERSION}
          echo ::set-output name=ghcr::${GHCR_HOST}/${DOCKER_IMAGE_SCOPE}
          echo ::set-output name=images::${GHCR_HOST}/${DOCKER_IMAGE_SCOPE}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ steps.prep.outputs.images }}
          flavor: |
            suffix=-bundle,onlatest=true
          tags: |
            type=semver,pattern=${{ steps.prep.outputs.version }}
            type=raw,${{ steps.prep.outputs.version }}

      - name: Build artifacts
        uses: docker/bake-action@v1
        with:
          files: ./docker-bake.hcl
          targets: artifact-all
          set: |
            *.cache-from=type=local,src=/tmp/.image-cache/artifacts
            *.cache-to=type=local,dest=/tmp/.image-cache-new/artifacts

      - name: Build and push Docker image
        uses: docker/bake-action@v1
        with:
          files: |
            ./docker-bake.hcl
            ${{ steps.meta.outputs.bake-file }}
          targets: bundle
          push: ${{ github.event_name != 'pull_request' }}
          set: |
            *.cache-from=type=local,src=/tmp/.image-cache/image
            *.cache-to=type=local,dest=/tmp/.image-cache-new/image

      - name: Check manifest
        if: github.event_name != 'pull_request'
        run: |
          docker buildx imagetools inspect ${{ steps.prep.outputs.ghcr }}:${{ steps.meta.outputs.version }}

      - name: Inspect image
        if: github.event_name != 'pull_request'
        run: |
          docker pull ${{ steps.prep.outputs.ghcr }}:${{ steps.meta.outputs.version }}
          docker image inspect ${{ steps.prep.outputs.ghcr }}:${{ steps.meta.outputs.version }}

  dispatch:
    if: github.repository == 'wabarc/wayback'
    name: Repository Dispatch
    runs-on: ubuntu-latest
    needs: [publish]
    steps:
    - name: Dispatch repository in wabarc/on-heroku (release)
      uses: peter-evans/repository-dispatch@v1
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        repository: wabarc/on-heroku
        event-type: deploy
        token: ${{ secrets.PAT_WORKFLOW }}
        client-payload: '{"from": "${{ github.repository }}", "channel": "stable"}'

    - name: Dispatch repository in wabarc/on-heroku (testing)
      uses: peter-evans/repository-dispatch@v1
      if: ${{ github.event_name == 'push' }}
      with:
        repository: wabarc/on-heroku
        event-type: deploy
        token: ${{ secrets.PAT_WORKFLOW }}
        client-payload: '{"from": "${{ github.repository }}", "channel": "edge"}'
