# Copyright 2020 Wayback Archiver. All rights reserved.
# Use of this source code is governed by the GNU GPL v3
# license that can be found in the LICENSE file.
#
name: Linter

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
    types: [ opened, synchronize, reopened ]

permissions:
  contents: read
  packages: read
  statuses: write

# New runs to only cancel in-progress runs of the same workflow.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  super-linter:
    name: Super Linter
    uses: wabarc/.github/.github/workflows/reusable-super-linter.yml@main

  golangci:
    name: golangci-lint
    uses: wabarc/.github/.github/workflows/reusable-golangci.yml@main
    with:
      egress-policy: audit

  shellcheck:
    name: ShellCheck
    uses: wabarc/.github/.github/workflows/reusable-shellcheck.yml@main

  misspell:
    name: Misspell
    uses: wabarc/.github/.github/workflows/reusable-misspell.yml@main

  alex:
    name: Alex
    uses: wabarc/.github/.github/workflows/reusable-alex.yml@main

  urlcheck:
    name: URLCheck
    uses: wabarc/.github/.github/workflows/reusable-urlcheck.yml@main
    with:
      exclude-patterns: ${{ vars.URLCHECH_EXCLUDE }}

  goreportcard:
    name: Go Report Card
    uses: wabarc/.github/.github/workflows/reusable-goreportcard.yml@main
