# Copyright 2023 Wayback Archiver. All rights reserved.
# Use of this source code is governed by the GNU GPL v3
# license that can be found in the LICENSE file.
#
name: Pages

on:
  push:
    branches:
      - main
    paths:
      - docs/**
      - mkdocs.yml
      - retuirements.txt
      - .github/workflows/mkdocs.yml
  workflow_dispatch:

concurrency:
  group: 'pages'
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  deploy:
    name: Generate Documents
    runs-on: ubuntu-latest
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0d381219ddf674d61a7572ddd19d7941e271515c # v2.9.0
        with:
          egress-policy: audit
          disable-telemetry: true
          allowed-endpoints: >
            github.com:443
            api.github.com:443
            pypi.org:443
            pip.pypa.io:443
            files.pythonhosted.org:443

      - name: Check out code base
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        with:
          python-version: '3.x'

      - name: Install Requirements
        run: |
          pip install -r requirements.txt

      - name: Generate Documents
        run: |
          mkdocs build

      - name: Upload Pages
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: 'site'

      - name: Deployment
        uses: actions/deploy-pages@decdde0ac072f6dcbe43649d82d9c635fff5b4e4 # v4.0.4
        id: deployment
