name: Snapcraft

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
  workflow_dispatch:

jobs:
  snapcraft:
    if: github.repository == 'wabarc/wayback'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - i386
          - amd64
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - id: build
        name: Build snap
        uses: diddlesnaps/snapcraft-multiarch-action@v1
        with:
          architecture: ${{ matrix.platform }}
          snapcraft-channel: stable

      - uses: actions/upload-artifact@v2
        with:
          name: snap-${{ matrix.platform }}
          path: ${{ steps.build.outputs.snap }}

      - uses: snapcore/action-publish@v1
        name: Release Snap
        with:
          store_login: ${{ secrets.SNAPCRAFT_TOKEN }}
          snap: ${{ steps.build.outputs.snap }}
          release: edge
