name: Testing

on:
  push:
    branches:
      - "*"
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/testing.yml"
      - "Makefile"
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/testing.yml"
      - "Makefile"

jobs:
  testing:
    name: Testing
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        #go: [ "1.13", "1.14", "1.15", "1.16" ]
    env:
      SENDER_UID: ${{ secrets.MATRIX_SENDER_UID }}
      SENDER_PWD: ${{ secrets.MATRIX_SENDER_PWD }}
      RECVER_UID: ${{ secrets.MATRIX_RECVER_UID }}
      RECVER_PWD: ${{ secrets.MATRIX_RECVER_PWD }}
      MATRIX_ROOMID: ${{ secrets.MATRIX_ROOMID }}
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        #go-version: ${{ matrix.go }}
        go-version: "1.16"

    - name: Set up IPFS
      uses: ibnesayeed/setup-ipfs@master
      with:
        run_daemon: true

    - name: Set up Tor
      uses: tor-actions/setup-tor@main
      with:
        daemon: true

    - name: Set up Chrome
      uses: browser-actions/setup-chrome@latest
      with:
        chrome-version: stable

    - name: Set up Chocolatey
      if: matrix.os == 'windows-latest'
      uses: crazy-max/ghaction-chocolatey@v1
      with:
        args: -h

    - name: Install Wget
      if: matrix.os == 'windows-latest'
      run: |
        choco install wget
        wget --help

    - name: Check out code base
      if: github.event_name == 'push'
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Check out code base
      if: github.event_name == 'pull_request'
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Set env
      shell: bash
      run: |
        storage_dir=$GITHUB_WORKSPACE/.tmp
        echo "WAYBACK_STORAGE_DIR=${storage_dir}" >> $GITHUB_ENV

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Run test
      run: |
        make test
        make test-cover

    - name: Upload coverage
      uses: actions/upload-artifact@v2
      with:
        name: coverage-${{ matrix.os }}
        path: coverage.*

    - name: Run integration test
      run: make test-integration
