# Copyright 2020 Wayback Archiver. All rights reserved.
# Use of this source code is governed by the GNU GPL v3
# license that can be found in the LICENSE file.
#
name: Testing

on:
  push:
    branches:
      - "*"
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/testing.yml"
      - "Makefile"
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/testing.yml"
      - "Makefile"
  workflow_dispatch:

permissions: write-all

jobs:
  testing:
    name: Testing
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        go: [ "1.16", "1.17" ]
    env:
      SENDER_UID: ${{ secrets.MATRIX_SENDER_UID }}
      SENDER_PWD: ${{ secrets.MATRIX_SENDER_PWD }}
      RECVER_UID: ${{ secrets.MATRIX_RECVER_UID }}
      RECVER_PWD: ${{ secrets.MATRIX_RECVER_PWD }}
      MATRIX_ROOMID: ${{ secrets.MATRIX_ROOMID }}
      WAYBACK_DISCORD_BOT_TOKEN: ${{ secrets.WAYBACK_DISCORD_BOT_TOKEN }}
      WAYBACK_DISCORD_CHANNEL: ${{ secrets.WAYBACK_DISCORD_CHANNEL }}
    steps:
    - name: Set up Go ${{ matrix.go }}.x
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Set up IPFS
      uses: ibnesayeed/setup-ipfs@master
      with:
        run_daemon: true

    - name: Set up Tor
      uses: tor-actions/setup-tor@main
      with:
        daemon: true

    - name: Set up Chrome
      uses: browser-actions/setup-chrome@latest
      with:
        chrome-version: stable

    - name: Set up Chocolatey
      if: matrix.os == 'windows-latest'
      uses: crazy-max/ghaction-chocolatey@v1
      with:
        args: -h

    - name: Install Packages
      if: matrix.os == 'ubuntu-latest'
      shell: bash
      run: |
        # search package https://pkgs.org/
        sudo add-apt-repository universe
        sudo apt-get -y -qq update
        sudo apt-get -y -qq install ffmpeg libwebp-dev youtube-dl
        pip3 install you-get
        echo "youtube-dl version $(youtube-dl --version)"
        you-get --version
        ffmpeg -version

    - name: Install Packages
      if: matrix.os == 'macos-latest'
      shell: bash
      run: |
        # search package https://brew.sh/
        brew install --quiet ffmpeg webp youtube-dl you-get
        echo "youtube-dl version $(youtube-dl --version)"
        you-get --version
        ffmpeg -version

    - name: Install Packages
      if: matrix.os == 'windows-latest'
      shell: bash
      run: |
        # search package https://community.chocolatey.org/packages
        choco install --no-progress wget ffmpeg webp youtube-dl you-get
        echo "youtube-dl version $(youtube-dl --version)"
        you-get --version
        ffmpeg -version
        wget --help

    - name: Set environments
      shell: bash
      run: |
        # Set env to enable reduxer
        storage_dir=$GITHUB_WORKSPACE/.tmp
        echo "WAYBACK_STORAGE_DIR=${storage_dir}" >> $GITHUB_ENV
        # Append paths to environment path
        # echo "$(which youtube-dl)" >> $GITHUB_PATH
        # echo "$(which you-get)" >> $GITHUB_PATH
        # echo "$(which ffmpeg)" >> $GITHUB_PATH
        # echo "$(which wget)" >> $GITHUB_PATH

    - name: Check out code base
      if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Check out code base
      if: github.event_name == 'pull_request'
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Run test
      run: |
        make test
        make test-cover

    - name: Upload coverage
      uses: actions/upload-artifact@v2
      with:
        name: coverage-${{ matrix.os }}
        path: coverage.*

    - name: Run integration test
      run: make test-integration
